{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'DevCoreBundle::layout.html.twig' %}

{% block container %}
    <div class="blog-header">
        <h1 class="blog-title">Blog</h1>
        <p class="lead blog-description">Projets personnels</p>
    </div>
    <div class="row">
        {% block body %}
            <div class="col-sm-9 blog-main">
                <section>
                    <form action="{{ path('DevCoreBundle_homepage') }}" method="post" {{ form_enctype(newBlogForm) }}>
                        {{ form_widget(newBlogForm) }}
                        <button type="submit" class="btn-search"><span><i class="icon-search"></i> Submit </span></button>
                    </form>
                </section>
                {% for blog in blogs %}
                    <section class="blogEntry" data-id="{{ blog.id }}">
                        <h1 class="blogTitle">{{ blog.title }} <i class="glyphicon glyphicon-edit editButton"></i> <i class="glyphicon glyphicon-trash trashButton"></i></h1>
                        <p>{{ blog.text|raw }}</p>
                    </section>
                {% endfor %}
            </div>
        {% endblock %}
        <div class="col-sm-2 col-sm-offset-1 blog-sidebar">
            {% block sidebar %}
                Filter 
            {% endblock %}
        </div>
    </div>
    <div class="row deleteConfirmation">
        Annuler la suppression <i class="glyphicon glyphicon-repeat cancelDeleteButton"></i>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var postaction = {
            blog : {
                remove: "{{ path('DevCoreBundle_blog_delete') }}"
            }
        };
    </script>
    <script src="{{ asset('bundles/devcore/js/blogCreationForm.js') }}"></script>
    <script src="{{ asset('bundles/devcore/js/blogEditionForm.js') }}"></script>
{% endblock %}
