<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Projets Web personnels">
        <meta name="author" content="Emmanuel DESIR">
        <title>{% block title %}Blog{% endblock %}</title>
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block stylesheets %}
            <link href="{{ asset('bundles/devcore/css/screen.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            {#<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">#}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        {% block navigation %}
            
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Blog</a>
                </div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('DevCoreBundle_homepage') }}">Home</a></li>
                    <li><a href="{{ path('DevCoreBundle_about') }}">About</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="container">
            {% block container %}{%endblock%}
        </div><!-- /.container -->

        <div class="blog-footer">
            {% block footer %}                
            {% endblock %}
        </div>

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            {#<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>#}
        {% endblock %}
    </body>
</html>